/__vm/
/.vs/
Liberty-X.sln
Liberty-X.vcxproj
Liberty-X.vcxproj.filters
Liberty-X.vcxproj.user

!/Release/Liberty-X.bin
/Release/EEPROM
/Release/SPI
/Release/Wire
/Release/WS2812B
/Release/board.buildinfo
/Release/Liberty-X.cpp.d
/Release/Liberty-X.map
/Release/Liberty-X.ino.map
/Release/Liberty-X.ino.elf
/Release/Liberty-X.ino.bin
/Release/Liberty-X.elf
/Release/Liberty-X.cpp.o
